    <!DOCTYPE html>
    <!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Xchange.com App</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico">

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700' rel='stylesheet' type='text/css'>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>


      <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link href="/stylesheets/style.css" rel="stylesheet">


      <script src="/javascripts/angularApp.js"></script>
      <style> .glyphicon-thumbs-up { cursor:pointer } </style>

        <link rel="shortcut icon" href="/stylesheets/images/gt_favicon.png">

        <!-- Bootstrap -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
        <!-- Icon font -->
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <!-- Fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
        <!-- Custom styles -->
        <link rel="stylesheet" href="/stylesheets/css/styles.css">

        <!--[if lt IE 9]> <script src="/stylesheets/js/html5shiv.js"></script> <![endif]-->


        <!-- Cards -->
        <link rel="stylesheet" href="/css/cards.css">

        <!-- Modernizr JS -->
        <script src="/stylesheets/js/animations/modernizr-2.6.2.min.js"></script>
        <!-- FOR IE9 below -->
        <!--[if lt IE 9]>
        <script src="/stylesheets/js/animations/respond.min.js"></script>
        <![endif]-->
        <script src="/stylesheets/js/animations/main.js"></script>
        <script src="/stylesheets/js/animations/wow.min.js"></script>
        <script src="/stylesheets/js/animations/owl.carousel.min.js"></script>


    </head>
    <body ng-app="myApp">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet" type="text/css">
    <!--    <ul class="menu">
        <li><a href="#!/view1">view1</a></li>
        <li><a href="#!/view2">view2</a></li>
      </ul> -->

      <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

 <!--    <div ng-view></div>

      <div>Angular seed app: v<span app-version></span></div> -- >

      <!-- In production use:
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
      -->
      <script src="/javascripts/angularApp.js"></script>

      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>


    <header id="header" ng-controller="NavCtrl">
        <div id="head" class="parallax" parallax-speed="1">
            <h1 id="logo" class="text-center">


                <li  <span class="title" >A Warm Welcome! <span class="title" ng-show="isLoggedIn()">{{ currentUser() }}</span></span></li>
			<span class="tagline">There are many little ways to enlarge your child’s world. Love of books is the best of all.<br>
–Jacqueline Kennedy Onassis
                Learning
            </span>
            </h1>
        </div>

        <nav class="navbar navbar-default navbar-sticky" ng-controller="NavCtrl">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>

                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">
                        <li ><a  href="#"><img src="/images/exchange.png">Xchange.com </a></li>
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="about.html">About</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="sidebar-left.html">Left Sidebar</a></li>
                                <li><a href="sidebar-right.html">Right Sidebar</a></li>
                                <li><a href="single.html">Blog Post</a></li>
                            </ul>
                        </li>
                        <li><a href="blog.html">Blog</a></li>
                        <ul class="nav navbar-nav pull-right">
                            <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
                            <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
                            <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
                        </ul>
                    </ul>


                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </header>



    <div ng-controller="NavCtrl" ng-hide="isLoggedIn()">
        <h4>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can Post.</h4>
    </div>

          <div class="row">
            <div >
                <ui-view></ui-view>
            </div>
          </div>


    <div ng-app="myApp" ng-controller="Ctrl">
        <bars-chart chart-data="myData"  ></bars-chart>
    </div>



    <footer id="footer" class="topspace">
        <div class="container">
            <div class="row">
                <div class="col-md-6 widget">
                    <h3 class="widget-title">Contact</h3>
                    <div class="widget-body">
                        <p>+91 9986733955<br>
                            <a href="mailto:#">rajusghere@gmail.com</a><br>
                            <br>
                            #431, Majestic , Bangalore 23126
                        </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <h3 class="widget-title">Follow me</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href=""><i class="fa fa-twitter fa-2"></i></a>
                            <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                            <a href=""><i class="fa fa-github fa-2"></i></a>
                            <a href=""><i class="fa fa-facebook fa-2"></i></a>
                        </p>
                    </div>
                </div>


            </div> <!-- /row of widgets -->
        </div>
    </footer>

    <footer id="underfooter">
        <div class="container">
            <div class="row">

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p>#432 , majestic Bangalore - 562132 </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright &copy; 2016, Raju</p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </footer>


          <script type="text/ng-template" id="/home.html">

              <div class="container">

                 <div class="row section topspace">
                      <div class="panel panel-cta">
                          <div class="panel-body">
                              <div class="container">
                                  <div class="row">
                                      <div class="col-xs-8 col-xs-offset-2">
                                          <form action="google.com" method="get">
                                          <div class="input-group">
                                              <div class="input-group-btn search-panel">
                                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                      <span id="search_concept">Filter by</span> <span class="caret"></span>
                                                  </button>
                                                  <ul class="dropdown-menu" role="menu">
                                                      <li ng-model ="searchBy" name="searchBy" value="ISBN">ISBN</li>
                                                      <li><a href="#contains">ISBN</a></li>
                                                      <li><a href="#its_equal">Author</a></li>
                                                      <li><a href="#greather_than">Title </a></li>

                                                  </ul>
                                              </div>
                                              <form action="#/search" method="get">
                                                <input type="hidden" ng-model ="searchBy" name="searchBy" value="all" id="search_param">
                                                <input type="text" ng-model="findText" name="findText" class="form-control"  placeholder="Search term...">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary btn-lg" type="button"  onclick="location.href='#/search?findText=1401216676&searchBy=ISBN';" ><span class="glyphicon glyphicon-search"></span></button>
                                                </span>
                                              </form>

                                          </div>
                                      </div>
                                  </div>
                              </div>

                        </div>
                          </div>
                      </div>
                  </div> <!-- /section -->


                  <main id="main">

                  <div ng-hide="isLoggedIn()">
                      <h4>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h4>
                  </div>

                  <div class="container">
                      <div class="row topspace">

                          <!-- Article main content -->
                          <article class="col-sm-8 maincontent ">
                              <div ng-repeat="post in posts | orderBy:'-upvotes'" class="col-md-3 col-sm-6 hero-feature"
                                   style="background-color:lavender;">
                                  <div class="thumbnail">
                                      <h3 class="testWrap text-center">
                                        <span class="glyphicon glyphicon-thumbs-up"
                                              ng-click="incrementUpvotes(post)"></span>
                                                              {{post.upvotes}}
                                          </br>
                                        <span  style="font-size:20px; margin-left:10px;">
                                          <a ng-show="post.title" href="{{post.title}}">
                                            {{post.title}}
                                          </a>
                                        </span>
                                      </h3>
                                      <p class="testWrap" ng-show="post.description">
                                          {{post.description}}
                                      </p>
                                        <span ng-show="post.bookAuthor" ng-show="post.ISBN">
                                          By {{post.bookAuthor}} :: {{post.ISBN}}
                                        </span> </br>

                                          <span>
                                        <span ng-show="post.status" ng-show="post.ISBN">
                                        Status {{post.status}}

                                        </span>
                                            <p class="text-center"><a href="#/posts/{{post._id}}" class="btn btn-action">Xchange</a></p>
                                          </span>

                                      </div>
                                  </div>

                          </article>
                          <!-- /Article -->
                    <!-- Sidebar -->
                    <aside class="col-md-4 sidebar sidebar-left">
<div class="widget">
                        <form ng-submit="addPost()"
                              ng-show="isLoggedIn()">

                             <h3>Want to Xchange Book ?</h3>

                                <div ng-hide="isLoggedIn()">
                                    <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
                                </div>

                            <div class="form-group">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Title"
                                       ng-model="title">
                            </div>
                            <div class="form-group">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Description"
                                       ng-model="description">
                            </div>
                            <div class="form-group">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Book Author"
                                       ng-model="bookAuthor">
                            </div>

                            <div class="form-group">
                                <input type="text"
                                       class="form-control"
                                       placeholder="ISBN"
                                       ng-model="ISBN">
                            </div>
                            <div class="form-group">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Link"
                                       ng-model="link">
                            </div>
                            <button type="submit" class="btn btn-primary">Xchange</button>
                        </form>

</div>
                    </aside>
                    <!-- /Sidebar -->


                </div>
              </div>


                  <div class="row section clients topspace" ng-controller="RecommendCtrl" >
                      <h2 class="section-title"><span>Recommendation</span></h2>

                     <div class="fh5co-blog-style-1">
                          <div class="container">
                              <div class="row p-b">
                                  <div class="col-md-6 col-md-offset-3 text-center">
                                      <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Recommendation books based on previous Xchanges </p>
                                  </div>
                              </div>
                              <div class="row p-b">
                                  <div ng-repeat="post in recommendPosts" class="col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                                      <div class="fh5co-post wow fadeInLeft"  data-wow-duration="1s" data-wow-delay="1.1s">
                                          <div class="fh5co-post-image">
                                              <div class="fh5co-overlay"></div>
                                              <div class="fh5co-post-text">
                                                  <h3><a href="#">{{post.title}}</a></h3>
                                                  <p>{{post.description}}</p>
                                              </div>
                                              <div class="fh5co-post-meta">
                                                  <a href="#"><i class="icon-chat"></i> By {{post.bookAuthor}}</a>
                                                  <a href="#"><i class="icon-clock2"></i> {{post.ISBN}}</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-4 col-md-offset-4 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
                                      <a href="#" class="btn btn-primary btn-lg">View All Recommendations</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div> <!-- /section -->

              <div class="row section clients topspace">
                  <h2 class="section-title"><span>Stats</span></h2>
                  </div>
                  </main>
      </script>

      <script type="text/ng-template" id="/posts.html">
          <div class="page-header">
              <h3>
                  <a ng-show="post.title" href="{{post.title}}">
                      {{post.title}}
                  </a>
                  <span ng-hide="post.link">
                    {{post.title}}
                  </span>

              </h3>
          </div>

          <article class="col-sm-8 maincontent ">
          <h3>My Preference</h3>
          <div class="first-column">
          <div ng-repeat="comment in xchangeComments1 " class="col-md-3 col-sm-6 hero-feature" style="background-color:lavender;">
            <span class="glyphicon glyphicon-thumbs-up"
                  ng-click="incrementUpvotes(comment)"></span>
                  {{comment.upvotes}} - by {{comment.author}}
            <span style="font-size:20px; margin-left:10px;">
              {{comment.bookId.title}}
            </span>
              <span ng-show="comment.post">
                    {{comment.bookId.body}}
              </span>

              <span ng-show="comment.post">
                    {{comment.xchangeBookStatus}}
              </span>
          </div>
          </div>
              </article>


          <!-- Article main content -->
          <!--       <article class="col-sm-8 maincontent ">
                 <div class="second-column">
                     <h3>People interested to xchange</h3>
                     <div ng-repeat="comment in xchangeComments | orderBy:'-upvotes' " class="col-md-3 col-sm-6 hero-feature" style="background-color:lavender;">
                   <span class="glyphicon glyphicon-thumbs-up"
                         ng-click="incrementUpvotes(comment)"></span>
                         {{comment.upvotes}} - by {{comment.author}}
                   <span style="font-size:20px; margin-left:10px;">
                     {{comment.body}}
                   </span>
                     <span ng-show="comment.post">
                           {{comment.title}}
                     </span>

                     <span ng-show="comment.post">
                           {{comment.xchangeBookStatus}}
                     </span>
                     <span ng-show="comment.post">
                           {{comment.bookId}} {{comment.bookId.title}}
                     </span>
                     </div>
                 </div>
                 </article> -->
          <!-- /Article -->
    <!--      <form ng-submit="addComment()"
                ng-show="isLoggedIn()"
                style="margin-top:30px;">
                 <h3>Add a new comment</h3>

              <div class="form-group">
                  <input type="text"
                         class="form-control"
                         placeholder="Comment"
                         ng-model="body">
              </div>

              <button type="submit" class="btn btn-primary">Post</button>
          </form>
         -->
          <article class="col-sm-8 maincontent ">
          <h3> Would like to Exchange With ?</h3>
          <div class="first-column">
              <div ng-repeat="post in posts | orderBy:'-upvotes'|filter:{postedBy : '!'+currentUser }" class="col-md-3 col-sm-6 hero-feature" style="background-color:lavender;">

                  <h3 class="testWrap">
                        <span  ng-model ="bookId" class="glyphicon glyphicon-thumbs-up"
                              ng-click="addComment(post._id);updateInterstedPosts(post._id)" >
                        </span>
                      {{post.status}}

                        <span style="font-size:20px; margin-left:10px;">

                          <a ng-show="post.title" href="{{post.title}}" >
                            {{post.title}}
                          </a>
                        </span>
                         </h3>
                            <span ng-show="post.description">
                              {{post.description}}
                            </span>
                            <span ng-show="post.bookAuthor" ng-show="post.ISBN">
                              By {{post.author}} :: {{post.ISBN}}
                            </span>

                         </div>
          </div>
              </article>

      </script>

    <script type="text/ng-template" id="/search.html">

                <div ng-repeat="post in posts | orderBy:'-upvotes'" class="col-md-3 messageBlock card__front" style="background-color:lavender;">
                    <h3 class="testWrap">
                        <span class="glyphicon glyphicon-thumbs-up"
                              ng-click="incrementUpvotes(post)"></span>
                        {{post.upvotes}}
                        <span style="font-size:20px; margin-left:10px;">
                          <a ng-show="post.title" href="{{post.title}}">
                            {{post.title}}
                          </a>
                        </span> </h3>
                            <span ng-show="post.description">
                              {{post.description}}
                            </span>
                            <span ng-show="post.bookAuthor" ng-show="post.ISBN">
                              By {{post.author}} :: {{post.ISBN}}
                            </span>

                          <span>
                            <a href="#/posts/{{post._id}}">In Exchange With</a>
                          </span>

                </div>
    </script>


    <script type="text/ng-template" id="/register.html">

            <div ng-show="error" class="alert alert-danger row">
                <span>{{ error.message }}</span>
            </div>


            <aside class="col-md-3 widget">
                <div class="widget">
            <form ng-submit="register()">
                <h3>Register</h3>

                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           placeholder="Username"
                           ng-model="user.username">
                </div>
                <div class="form-group">
                    <input type="password"
                           class="form-control"
                           placeholder="Password"
                           ng-model="user.password">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
                    </div>
                </aside>
        </script>

        <script type="text/ng-template" id="/login.html">

            <div ng-show="error" class="alert alert-danger row">
                <span>{{ error.message }}</span>
            </div>

            <aside class="col-md-3 widget">
                <div class="widget">
            <form ng-submit="logIn()">
                <h3>Log In</h3>

                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           placeholder="Username"
                           ng-model="user.username">
                </div>
                <div class="form-group">
                    <input type="password"
                           class="form-control"
                           placeholder="Password"
                           ng-model="user.password">
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
                </div>
                </aside>
        </script>

    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/stylesheets/js/template.js"></script>
    <script src="/javascripts/searchFilter.js"></script>
    <!-- jQuery -->
    <script src="js/animations/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/animations/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/animations/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="js/animations/jquery.waypoints.min.js"></script>
    <!-- Owl Carousel -->
    <script src="js/animations/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="js/animations/jquery.magnific-popup.min.js"></script>
    <!-- Stellar -->
    <script src="js/animations/jquery.stellar.min.js"></script>
    <!-- countTo -->
    <script src="js/animations/jquery.countTo.js"></script>
    <!-- WOW -->
    <script src="js/animations/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Main -->
    <script src="js/animations/main.js"></script>

    </body>


    </html>
